
@{
    ViewBag.Title = "DangNhap";
}

<h2>DangNhap</h2>

<form method="post">
    <label>Đăng nhập: </label> <input type="text" name="username" /> <br />
    <label>Mật khẩu: </label> <input type="password" name="password" /> <br />
    <input type="submit" value="Đăng nhập"/>
</form>

@ViewBag.notif